$transparent-white: rgba(255, 255, 255, 0.5);
$darker-purple: #594AEB;
$lighter-purple: #9F72FF;
$title_size: 50px;
$paragraph_size: 18px;

@mixin flexCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes expand1 {
    0% {
        width: 70%;
    }

    100% {
        width: 90%;
    }
}


.introduction_container {
    @include flexCenter;
    justify-content: space-between;
    width: 85vw;

    .aside_nav_fake {
        width: 50px;
    }

    .main_content {
        @include flexCenter;
        flex-direction: column;
        align-items: flex-start;
        width: 40vw;

        h2 {
            font-size: $title_size;
            font-weight: 600;

            .my_name {
                color: $lighter-purple;
                font-weight: inherit;
            }
        }

        p {
            font-size: $paragraph_size;
            font-weight: 200;
            margin-bottom: 20px
        }

        
    }

    .right_image {
        @include flexCenter();
        width: 33vw;
        height: 80vh;
        overflow: hidden;

    }
    

    .shape1 {
        @include flexCenter();
        width: 90%;
        height: 90%;
        background-image: url("../../assets/images/Vector.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation: expand1 ease-in-out 1s;
    }

    .shape2 {
        width: 90%;
        height: 90%;
        background-image: url("../../assets/images/Vector2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}