$transparent-white: rgba(255, 255, 255, 0.5);
$darker-purple: #594AEB;
$lighter-purple: #9F72FF;
$title_size: 50px;
$paragraph_size: 18px;

@mixin flexCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
}



.introduction_container {
    @include flexCenter;
    justify-content: space-between;
    width: 85vw;

    .aside_nav_fake {
        width: 50px;
    }

    .main_content {
        @include flexCenter;
        flex-direction: column;
        align-items: flex-start;
        width: 41vw;

        h2 {
            font-size: $title_size;
            font-weight: 600;
            width: 100%;

            .my_name {
                color: $lighter-purple;
                font-weight: inherit;
            }
        }

        p {
            font-size: $paragraph_size;
            font-weight: 200;
            margin-bottom: 20px
        }

        .button_anchor, .button_anchor_visited {
            text-decoration: none;
            color: white;
        }

        .button_anchor {
            background: linear-gradient(180deg, $darker-purple 0%, $lighter-purple 100%);
            padding: 8px 40px;
            border-radius: 20px;
            transition: 0.2s ease;
        }

        .button_anchor:hover {
            transform: scale(1.04);
            transition: 0.2s ease;
        }
    }

    .right_image {
        @include flexCenter();
        width: 34vw;
        height: 80vh;
        overflow: hidden;

    }
    

    .shape1 {
        @include flexCenter();
        width: 90%;
        height: 90%;
        background-image: url("../../assets/images/Vector.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .shape2 {
        @include flexCenter();
        width: 90%;
        height: 90%;
        background-image: url("../../assets/images/Vector2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .shape3 {
        @include flexCenter();
        width: 90%;
        height: 90%;
        background-image: url("../../assets/images/personal_photo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width:1370px) {

    .introduction_container {
        .main_content {
            h2 {
                font-size: 40px;
            }
        }
    }
}

@media (max-width:1100px) {
    .aside_nav_fake {
        display: none;
    }



    .introduction_container {
        .main_content {
            width: 40vw;
            h2 {
                font-size: 34px;
            }

            p {
                font-size: 15px;
            }
        }

        .right_image  {
            width: 50vw;
        }
    }
}

@media (max-width:610px) {
    .aside_nav_fake {
        display: none;
    }

    .introduction_container {
        flex-direction: column-reverse;
        gap: 10px;

        .main_content {
            @include flexCenter;
            width: 85vw;
            h2 {
                font-size: 30px;
                text-align: center;
            }

            p {
                font-size: 14px;
                text-align: center;
            }
        }

        .right_image  {
            width: 85vw;
            height: 50vh;

        }
    }
}

@media (max-height:650px) {

    .introduction_container {
        .main_content {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 14px;
            }
        }

    }
}

