@use '../../base';

$transparent-white: #ffffff80;

.portifolio_container {
    @include base.flexCenter;
    width: 85vw;
    height: 80vh;
    flex-direction: column;
    gap: 40px;
    
    h2 {
        font-size: base.$title_size;
        font-weight: 700;
        text-align: center;
    }

    .carousel_container {
        @include base.flexCenter;

        .bi-caret-left-fill, .bi-caret-right-fill {
            display: none;
        }

        .carousel_aux {
            @include base.flexCenter;
            flex-direction: row;
            width: 50vw;

            .swiper {
                @include base.flexCenter;
                height: 460px;

                .swiper-pagination {
                    @include base.flexCenter;
                    padding: 4px;
                    margin-top: 20px;
                    border-radius: 10px;

                    .swiper-pagination-bullet {
                        opacity: 90%;
                        background-color: white;
                    }

                    .swiper-pagination-bullet-active {
                        background-color: base.$lighter-purple;
                    }
                }
            }

            .cards_container {
                @include base.flexCenter;
                justify-content: center;
                flex-direction: row;
                gap: 30px;
                flex-wrap:nowrap;

                .swiper-slide {
                    width: fit-content!important;
                }
            }

        }
    }  

}

@media (max-width: 1890px) {
    .swiper {
        width: 640px;
    }
}

@media (max-width: 1100px) {
    .portifolio_container {
        gap: 30px;
        padding: 50px 0px;
        height: auto;
    }
}

@media (max-width: 1250px) {
    .swiper {
        width: 300px;
    }
}

@media (max-width: 1020px) {
    .swiper {
        width: 280px;
    }
}

@media (max-width: 600px) {
    .carousel_aux {
        width: 100%!important;
    }
}




