@use '../../base';


.lang_button {
    @include base.flexCenter();
    position: relative;
    flex-direction: row;
    z-index: 15;
    
    .lang_img {
        width: 33px;
        cursor: pointer;
        transition: ease 0.2s;
        transform: scale(1);
    }
    
    .lang_img:hover {
        transform: scale(1.08);
        transition: ease 0.2s;
    }

    .lang_options {
        @include base.flexCenter();
        display: none;
        flex-direction: row;
        padding: 7px 10px 7px 16px;
        font-size: 14px;
        gap: 9px;
        position: absolute;
        left: calc(100% + 8px);
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        min-width: 74px;
        border-radius: 4px;
        height: auto;
        background-color: base.$darker-purple;
        box-shadow: none;
        z-index: -1;
    }

    .lang_options_1, .lang_options_2 {
        color: black;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.2s ease;
    }

    .lang_options_1:hover, .lang_options_2:hover {
        color: white;
    }

    .visible {
        display: flex;
    }

    .selected {
        color: white;
    }
}


@media (max-width: 900px) {
    .lang_button {
        background-color: base.$darker-purple;
        padding: 1px;
        border-radius: 10px;
    }
}