@use '../../base';

$darker-purple: #594AEB;
$lighter-purple: #9F72FF;


.purple-button {
  outline: none;
  border: none !important;
  min-width: 150px;
  max-width: 100%;
  padding: 7px 12px !important;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 20px !important;
  transition: all 0.5s ease !important;
}

.purple-button:hover {
  color: white;
  background: linear-gradient(144deg, $darker-purple, $lighter-purple);
  border: 0.2px solid #9F72FF;
}

.purple-button:active,
.purple-button:focus {
  outline: none;
}

