$width: 180px;
$darker-purple: #594AEB;
$lighter-purple: #9F72FF;

@mixin bg-gradient() {
    background: #594AEB;
    background: linear-gradient(180deg, rgba(89,74,235,1) 0%, rgba(159,114,255,1) 100%);
}

button {
    @include bg-gradient;
    width: $width;
    height: 45px;
    border: none!important;
    border-radius: 400px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style: none!important;
    box-shadow:  5px 5px 15px #0e0e0e,
                -5px -5px 15px #222222;
}

button:hover {
    transform: scale(1.07);
    transition: ease-in-out 0.3s;
}