@use '../../base';


// project card styles
$border-radius: 5px;

.project_card_container {
    position: relative;
    @include base.flexCenter();
    width: 800px;
    height: 400px;
    background: linear-gradient(30deg, #212121, #29254b);
    box-shadow: 0px 0px 20px #20202089;
    border-radius: $border-radius;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: 0.9em;

    @include base.device(xl) {
        width: 800px;
        flex-direction: column;
    }

    @include base.device(md) {
        width: 70vw;
        height: 370px;
    }

    @include base.device(sm) {
        height: 400px;
    }


    .card_image {
        object-fit: cover;
        object-position: 10% 0%;
        width: 45%;
        height: 100%;
        border-radius: 0px $border-radius $border-radius 0px;
    
        @include base.device(lg) {
            width: 55%;
            height: 100%;
        }

        @include base.device(xl) {
            width: 100%;
            height: 160px;
            border-radius: $border-radius $border-radius 0px 0px;
        }
    }


    .card_text {
        @include base.flexCenter();
        padding: 40px 15px;
        flex-direction: column;
        color: white;
        text-align: center;
        height: 100%;
        justify-content: space-between;

        @include base.device(lg) {
            padding: 20px 15px;
        }

        .title_description {
        
            h3 {
                font-size: 1.7em;
                font-weight: 700;

                @include base.device(xxl) {
                    font-size: 1.3em;
                }

                @include base.device(md) {
                    font-size: 1.4em;
                }
            }

            p {
                font-size: 1em;
                font-weight: 300;
                margin-top: 1.3em;

                @include base.device(xxl) {
                    font-size: 0.8em;
                }

                @include base.device(md) {
                    font-size: 0.9em;
                }

            }
        }

        .technologies_container {
            @include base.flexCenter();
            justify-content: center;
            margin: 15px 0px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            .tech {
                background: linear-gradient(30deg, #5047a1, #9772e9);
                font-size: 0.9em;
                width: min-content;
                padding: 4px 10px;
                border-radius: 2px;
                cursor: default;
                color: white;

                @include base.device(xxl) {
                    font-size: 0.8em;
                    padding: 3px 5px;
                }

            }

        }

    }

    .git_demo {
        @include base.flexCenter();
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 10px;
        gap: 10px;
 
        .link {
            @include base.flexCenter();
            font-size: 1.8em!important;
            color: white;
            background-color: base.$background-dark-color;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
        }

        .link:hover {
            transition: all 0.3s ease-in-out;
            background: linear-gradient(135deg, #9F72FF, #594AEB);

        }


        a:hover {
            color: inherit;
        }

        a {
            color: inherit
        }

    }
}