@use '../../base';

$darker-purple: #594AEB;
$lighter-purple: #9F72FF;

.social_medias_container {
    @include base.flexCenter();
    gap: 30px;

    .rectangle {
        width: 6px;
        background: linear-gradient(180deg, $darker-purple 0%, $lighter-purple 100%);
        height: 50px;

        @include base.device(md) {
          display: none;
        }
    }
    
    .icon {
        margin-top: 5px;
        width: 45px;
        cursor: pointer;
    }

    .icon:hover {
        transform: scale(1.09);
        transition: linear 0.2s;
    }
}

@media (max-width:1100px) {
    .social_medias_container { 
        gap: 20px;

        .rectangle {
            width: 4px;
            background: linear-gradient(180deg, $darker-purple 0%, $lighter-purple 100%);
            height: 45px;
        }

        .icon {
            width: 35px;
        }  
    }
}


@media (max-height:650px) {
    .social_medias_container { 
        gap: 15px;

        .rectangle {
            width: 4px;
            background: linear-gradient(180deg, $darker-purple 0%, $lighter-purple 100%);
            height: 30px;
        }

        .icon {
            width: 25px;
        }  
    }
}
