$links_size: 18px;
$background-dark-color: #181818;
$darker-purple: #594AEB;
$lighter-purple: #9B70FE;


 @mixin flexCenter() {
    display: flex;
    justify-conent: center;
    align-items: center;
 }

 @keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    
    }
 }

 
 .navbar {
    @include flexCenter;
    justify-content: space-between;
    height: 10vh;
    width: 85vw;
    color: white;

    .logo {
        width: 180px;
    }

    .links {
        @include flexCenter;
        gap: 40px;
        font-size: $links_size;

        .bi-brightness-high-fill, .bi-moon-fill {
            @include flexCenter;
            font-size: 18px;
            cursor: pointer;
        }

        .bi-brightness-high-fill:hover {
            animation: spin ease-in-out 1.5s;
        }

        .dia {
            color: pink;
        }
    }

    a {
        @include flexCenter;
        font-weight: 400;
    }

    a:hover {
        transform:scale(1.1);
        transition: ease 0.2s;
        color:inherit;

    }
 }

