@mixin flexCenter() {
    display: flex;
    justify-self: center;
    align-items: center;
}

.footer_container {
    @include flexCenter();
    justify-content: space-between;
    width: 85vw;
    padding: 6px 0px;

    .footer_logo {
        width: 14%;
    }

    .copyrights{
        @include flexCenter();

        p {
            margin-right: 10px;
        }

        .cop_logo {
            width: 100px;
        }
    }

    .left_side {
        @include flexCenter();
        gap: 30px;
    }

    
}

@media (max-width:1100px) {
    .footer_container {
        flex-direction: row;
        padding: 20px 0px;
        gap: 20px;

        .footer_logo {
            display: none;
        }

        .copyrights {
            p {
                font-size: 10px;
                width: 175px;
            }
    
            .cop_logo {
                width: 70px;
            }
        }
    }
}

@media (max-width:640px) {
    .footer_container {
        height: auto;
        flex-direction: column;
        padding: 20px 0px;
        gap: 20px;


        .copyrights {
            p {
                font-size: 10px;
            }
    
            .cop_logo {
                width: 70px;
            }
        }
    }
}

