$background-dark-color: #181818;
$darker-purple: #594AEB;
$lighter-purple: #9B70FE;
$title_size: 35px;
$paragraph_size: 18px;


@mixin flexCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rightMove {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes leftMove {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes downUp {
    0% {
        opacity: 0%;
        transform: translateY(200px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}




.ContactMe_container {
    width: 85vw;
    @include flexCenter();

    .ContactMe_main_container {
        @include flexCenter();
        flex-direction: column;

        h2 {
            font-size: $title_size;
            font-weight: 700;
        }

        p {
            text-align: center;
            font-size: $paragraph_size;
            font-weight: 400;
            margin-top: 10px;
        }

        .inputs_container {
            @include flexCenter();
            flex-direction: column;
            align-items: center;
            margin: 30px;

            label {
                @include flexCenter();
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 4px;
            }

            input {
                font-size: $paragraph_size;
                margin-bottom: 15px;
                background-color: white;
                outline: none;
                border: none;
                width: 350px;
                height: 45px;
                padding: 0px 20px;
                border-radius: 18px;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
                color: black;
            }

            .message_input {
                background-color: white;
                width: 350px;
                height: 160px;
                border: none;
                padding: 10px 20px;
                border-radius: 18px;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
                color: black;
                margin-bottom: 20px;
            }

            .message_input:focus {
                border: none;
                outline: none;
            }

            .submit_button {
                color: white;
                box-shadow: none;
                background-color: #181818;
                width: 180px;
                border-radius: 25px;
                outline: none !important;
            }
        }

        .new_message_button {
            border-radius: 25px;
            padding: 10px 25px;
            display: none;
        }

        .new_message_button:focus {
            outline: none;
            border: none;
        }


        .left_icons_container {
            background-color: red;
        }
    }

    .icons_container {
        position: relative;
        animation: downUp 2s ease;
    }
}

@media (max-width:610px) {
    .ContactMe_container {
        .icons_container {
            display: none;
        }
    }
}



@media (max-width:390px) {
    .ContactMe_container {
        .ContactMe_main_container {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }

            .inputs_container {
                .field {
                    font-size: 14px;
                }

                .input {
                    width: 250px;
                    height: 40px;
                }

                .message_input {
                    height: 120px;
                }

                .submit_button {
                    padding: 5px;
                    width: 130px;
                    height: 40px;
                }
            }
        }
    }
}

