
$background-dark-color: #181818;
$darker-purple: #594AEB;
$lighter-purple: #9F72FF;
$opaque-white: #ffffff23;
$title_size: 32px;
$subtitle_size: 24px;
$sub_subtitle_size: 30px;
$paragraph_size: 16px;


@mixin flexCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title() {
    font-size: $title_size;
    font-weight: 800;
    text-align: center;
}

@mixin subtitle() {
    font-size: $subtitle_size;
    font-weight: 700;
    text-align: center;
}

@mixin paragraph() {
    font-size: $paragraph_size;
    font-weight: normal;
}