@use './base';

@mixin bg-gradient() {
  background: base.$darker-purple;
  background: linear-gradient(135deg, base.$darker-purple 0%, base.$lighter-purple 100%);
}


html {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth!important;
  scroll-snap-type: y mandatory;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth!important;
  
}

body {
  background-color: white;
}

a, a:visited{
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
}

.main_container {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 10;
  background-color: base.$background-dark-color;
}

header, section {
  @include base.flexCenter();
  width: 100vw;
}

section {
  height: 100vh;
}

#introduction, #portifolio, #footer {
  background: base.$background-dark-color;
}

#about_me {
  background: white;
  height: 100vh;
  overflow: hidden;
}

#contact_me {
  @include bg-gradient();
  height: 90vh;
  padding-top: 10vh;
}

#footer {
  height: 10vh;
}

#portifolio {
  height: 100vh;
}


@media (max-width:1100px) {

  html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth!important;
    scroll-snap-type: y mandatory;
  }

  .main_container {
    height: auto;
    overflow-y: scroll;

    section {
      height: auto;
    }

    #introduction {
      padding: 50px 0px;
    }

    #contact_me, #intoduction, #portifolio, #footer, #about_me {
      height: auto;
    }
}
}