$background-dark-color: #181818;
$darker-purple: #594AEB;
$lighter-purple: #9B70FE;

@mixin bg-gradient() {
  background: $darker-purple;
  background: linear-gradient(135deg, $darker-purple 0%, $lighter-purple 100%);
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth!important;
  scroll-snap-type: y mandatory;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth!important;
  
}

body {
  background-color: white;
}

a, a:visited{
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
}

.main_container {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 1;
  background-color: $background-dark-color;
}

header, section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
}

#introduction, #portifolio, #footer {
  background: $background-dark-color;
}

#about_me {
  background: white;
}

#contact_me {
  @include bg-gradient();
  height: 90vh;
}

#footer {
  height: 10vh;
}

#portifolio {
  height: 100vh;
}

