@use '../../base';

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_me_container {
    @include flexCenter;
    position: relative;
    flex-direction: column;
    width: 55vw;
    height: 100vh;
    
    h2 {
        @include base.title;
        color: base.$darker-purple;
        text-align: center;
    }

    p, h3{
        color: black;
    }

    p {
        @include base.paragraph;
        margin-top: 20px;
        text-align: justify;
        text-indent: 2rem;
    }

    h3 {
        @include base.subtitle;
        margin-top: 60px;
        margin-bottom: 30px;

    }

    .techs_container {
        @include flexCenter;
        flex-direction: row;
        gap: 25px;
        flex-wrap: wrap;

        .icon {
            width: 100px;
        }

        .icon:hover {
            transition: ease 0.2s;
            transform: translateY(-10px);
        }
    }

    .soft_skills {
        @include flexCenter;
        gap: 10px;
    }
}

@media (max-width: 1100px){
    .about_me_container {
        width: 80vw;

        .techs_container {
            margin-top: 50px;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 610px) {
    .header_bottom {
        display: none;
    }
}

@media (max-width: 360px){
    .about_me_container {
        width: 70vw;

        .habilities_container {
            margin-top: 50px;
            flex-wrap: wrap;

            .icon {
                width: 50px;
            }
        }
    }
}